@using System.Globalization;
@{
    ViewData["Title"] = "Album";
    Random r = new Random();
}
@model Album

<div class="d-flex">
    <div>
        <div class="d-flex" id="album-head">
            <img src="@Model.Images.First().Url" class="album-pic">
            <div>
                <p>Album</p>
                <h1 class="big">@Model.Name</h1>
                <h2 class="big">@Model.Artist.Name</h2>
                <p>Date de sortie</p>
                <p>@DateTime.ParseExact(@Model.ReleaseDate, "yyyy-MM-dd", CultureInfo.InvariantCulture).ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("fr-FR"))</p>
            </div>
        </div>

        <div class="d-flex">
            <div>
                <p>@Model.TotalTracks morceaux</p>
                <p>@Model.Artists.Count featurings</p>
                <p>% couplets</p>
                <p>mots/son</p>
            </div>
            <div>
                <p>durée moyenne</p>
                <p>beatmakers</p>
                <p>dB moyens</p>
                <p>BPM moyens</p>
            </div>
        </div>
    </div>
</div>

<section>
    <h2>TRACKLIST @Model.Name</h2>
    <ul class="albums-list">
        @for (int i = 0; i < Model.Tracks.Count; i++)
        {
            <li>
                <details>
                    <summary><p><span>@i  </span><a href="@Url.RouteUrl("Track", new { idArtist = Model.Artist.Id, idAlbum = Model.Id, idTrack = Model.Tracks[i].Id })">@Model.Tracks[i].Name</a><span>Paroles</span></p></summary>
                    <div>
                        <p>250 mots</p>
                        <p>5 BPM</p>
                    </div>
                </details>
            </li>
        }
    </ul>
</section>

<section>
    <h2>Le champs lexical de @Model.Name</h2>
    <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
        @foreach (var track in Model.Tracks)
        {
            <li><p data-weight="@r.Next(1,9)">@track.Name</p></li>
        }
    </ul>
</section>

<section class="album-timeline">
    <h2>La composition des musiques de @Model.Name</h2>
    @foreach (var track in Model.Tracks)
    {
        int num1 = r.Next(0, 101);
        int num2 = r.Next(0, 101);
        int num3 = 100 - num1 - num2;
        <div><p>@track.Name</p><div style="--songTimeline : -webkit-linear-gradient(left, @track.Timeline)" class="song-timeline"></div></div>
    }
</section>

@section Styles{
    <link rel="stylesheet" href="~/css/index-letters.css" asp-append-version="true" />
}