@{
    ViewData["Title"] = "Album";
    Random r = new Random();
}
@model Album

<section>
    <div>
        <h1 class="big">Album @Model.Name</h1>

        <ul class="albums-list">
            @foreach (var track in Model.Tracks)
            {
                <li>
                    <p><a href="@Url.RouteUrl("Track", new { idArtist = Model.Artist.Id, idAlbum = Model.Id, idTrack = track.Id })">@track.Name - Paroles</a><i class="fa-solid fa-music"></i></p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/@track.Id" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </li>
            }
        </ul>
    </div>
</section>

<section>
    <h2>Le champs lexical de @Model.Name</h2>
    <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
        @foreach (var track in Model.Tracks)
        {
            <li><p data-weight="@r.Next(1,9)">@track.Name</p></li>
        }
    </ul>
</section>

<section class="album-timeline">
    <h2>La composition des musiques de @Model.Name</h2>
    @foreach (var track in Model.Tracks)
    {
        int num1 = r.Next(0, 101);
        int num2 = r.Next(0, 101);
        int num3 = 100 - num1 - num2;
        <div><p>@track.Name</p><div style="--songTimeline : -webkit-linear-gradient(left, @track.Timeline)" class="song-timeline"></div></div>
    }
</section>

@section Styles{
    <link rel="stylesheet" href="~/css/index-letters.css" asp-append-version="true" />
}