@using SpotifyAPI.Web
@using System.Text.RegularExpressions
@{
	ViewData["Title"] = "Track";
}
@model List<SuperArtists>


<table class="table" id="myTable">

	<form method="get" action="/">
		<input type="text" name="nameArtist" />
		<input type="submit" value="Rechercher" />
	</form>
	<thead>
		<tr>
			<th scope="col">Nom</th>
			<th scope="col">Popularité</th>
			<th scope="col">Lien</th>
			<th scope="col">Image</th>
			<th scope="col">Albums</th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td><a href="/artist_@item.Id">@item.Name</a></td>
			<td>@item.Popularity</td>
			<td><a href="@String.Concat("https://open.spotify.com/artist/", item.Id)">lien</a></td>
			@if (item.Images != null && item.Images.Count > 0)
			{
				var image = item.Images.Last();

				<td><img src="@image.Url" width="200" height="200" /></td>
			}
			<td>
				<table>
					@foreach (var album in item.Albums.Items.OrderByDescending(a => a.ReleaseDate).Where(a => a.AlbumGroup != "appears_on" && a.AlbumGroup != "single"))
					{
						<tr>
							<td><a href="https://open.spotify.com/album/@album.Id">@album.Name</a> - @album.TotalTracks titres - <a href="@Url.RouteUrl("Album", new { idArtist = item.Id, idAlbum = album.Id })">Detail</a></td>
						</tr>
					}
				</table>
			</td>
		</tr>
	}
</table>

