@using SpotifyAPI.Web
@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Track";
}
@model IndexLetterViewModel

<h1>Les artistes par classement alphabétique</h1>

<div class="pagination">
    @foreach (var p in Model.PaginationLetters)
    {
        <a class="@(p.IsActive ? "page-link active" : "page-link")" href="@Url.RouteUrl("IndexLetter", new { letter = p.Slug })">@p.Label</a>
    }
</div>

<h2>Les 100 rappeurs francophones les plus populaires</h2>
<ul class="artist-list">
    @foreach (var item in Model.Artists)
    {
        <li><a href="/artist_@item.Id">@item.Name</a></li>
    }
</ul>

<div class="pagination">
    @foreach (var p in Model.PaginationLetters)
    {
        <a class="@(p.IsActive ? "page-link active" : "page-link")" href="@Url.RouteUrl("IndexLetter", new { letter = p.Slug })">@p.Label</a>
    }
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/index-letters.css" asp-append-version="true" />
}