@using SpotifyAPI.Web
@using System.Text.RegularExpressions
@using app.Helpers;

@model Track
@{
	ViewData["Title"] = "Track";
}
<img src="@Model.Album.Images.First().Url" class="album-pic">

<h1>Paroles @Model.Name</h1>

<section id="track">
	@foreach (var item in Model.Text)
	{
		<section class="music-section @item.SongTimeline.Type.ToString().ToLower()-border">

			<h2>@item.Title</h2>
			@foreach (var line in item.Lines)
			{
				<p>@line</p>
			}
		</section>
	}
</section>

<h2>STRUCTURE LYRICALE @Model.Name</h2>
<div class="song-timeline">
	@foreach (var item in Model.Text)
	{
		<div style="width : @item.SongTimeline.Percentage%">
			<div class="@item.SongTimeline.Type.ToString().ToLower()-bg"></div>
		</div>
	}
</div>


<h2>Répartition lyricale du track</h2>
<div class="song-timeline">
	@foreach (var item in Model.Repartition)
	{
		<div style="width : @item.Percentage%">
			<p>@Helper.GetEnumDescription(item.Type)</p>
			<div class="@item.Type.ToString().ToLower()-bg"><p>@item.Percentage%</p></div>
		</div>
	}
</div>

<h2>Répartition lyricale de l'album</h2>

<h2>Densité lyricale @Model.Name</h2>
<p>@Model.DurationMs</p>

<h2>Moyenne de l'album</h2>

@section Styles{
	<link rel="stylesheet" href="~/css/track.css" asp-append-version="true" />
}